.productshow{

    .productshow__image{
        display: flex;
        align-items: center;
        height: 420px;

        img{
            max-width: 100%;
            max-height: 380px;
        }
    }

    .productshow__imageinput{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        input{
            display: none;

            img{
                max-width: 100%;
                max-height: 380px;
            }
        }
    }

    .productshow__information{
        .productshow__information--description{
            font-size: 14px;
        }

        .productshow__information--cart{

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }
        }
    }
}