.productshow{
    form{
        width: 100%;
    }

    .productshow__imageform{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        input{
            display: none;

            img{
                max-width: 100%;
                max-height: 380px;
            }
        }
    }

    .productshow__informationform{
        textarea{
            height: 164px;
        }
    }

    .button-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        button[type=reset]{
            background-color: rgb(149, 0, 0);
            width: 200px;
        }
    }
}